{% extends 'base.html.twig' %}

{% block body %}
    {# <script>
        window.user = {{ user|raw }};
    </script> #}

    <div id="homepage-app">
COUCOU JE SUIS LENT 

	{% for city in cities %}
    <p>{{city.name}}</p>
    <p>{{city.countrycode}}</p>
    <p>{{city.district}}</p>
    <p>{{city.person}}</p>
    <p>{{city.country}}</p>

    {% endif %}
    </div>
{% endblock %}
